.Log-flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Log-flex2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Log-flex3 {
    display: flex;
    justify-content: space-around;
}

.div1 { 
    border: solid 0.1rem;
    padding: 1rem;
}

/* .Log-bg{
    opacity: 50%;
} */
.alert-n-danger{
    color: red;
}
.alert-n-success{
    color: green;
}