@use "STYLE/variable" as var;

%border-base        {
  border: var.$border_value solid black;
}


.border-black     {  @extend %border-base; }

.border-red       {  @extend %border-base;  border-color: red;   }
.border-yellow    {  @extend %border-base;  border-color: yellow;}
.border-blue      {  @extend %border-base;  border-color: blue;  }
.border-green     {  @extend %border-base;  border-color: green; }
.border-cyan      {  @extend %border-base;  border-color: cyan;  }
.border-brown     {  @extend %border-base;  border-color: brown; }