@use "STYLE/variable" as *;
//    var.$border_value;

@use "STYLE/_mixin" as mix;
//    @include mix.full;

.AjouterAmis-root{
    @include mix.full;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .add{
        @include mix.fullw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }
    .response{
        @include mix.full;
        padding: 0.5rem;
        .bloc1,.bloc2{
            @include mix.full;
            overflow :hidden auto; 
        }
        .bloc1{padding-bottom: 0.5rem;}
        .bloc2{padding-top: 0.5rem;}

        h4 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;
        }
        .one-response{
            padding: 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.100);
            }
            .div-btn{
                display: flex;
                flex-direction: row;
                gap: 0.4rem;
                button{
                    @include mix.fullw;
                    @include mix.icone;
                }
            }
        }
    }
}
