.Navigation-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;   
}

.Navigation-nav{
    background: white;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




.Navigation-renderScreenNav {
    flex: 1; /* prend tout l'espace restant */
}





