.Navigation-root {
    padding: 1rem;   
}

.Navigation-nav{
    background: white;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




.Navigation-renderScreenNav {
    display: flex;
    align-items: center;
    justify-content: center;
}


























.bgwhite{
    background: white;
}