.alert-n-danger {
    padding: 10px 15px;
    background-color: #f44336; /* rouge */
    color: white;
    border-radius: 5px;
    margin: 10px 0;
}
.alert-n-success {
    padding: 10px 15px;
    background-color: #4CAF50; /* vert */
    color: white;
    border-radius: 5px;
    margin: 10px 0;
}
