// @use "STYLE/variable" as *;
//    var.$border_value;

// @use "STYLE/_mixin" as mix;
//    @include mix.full;

.Graph-root {
    position: relative;
    height: 200px; 
    width: 200px;
    border-radius: 50%;
    /* Utilisation des points d'arrêt dynamiques */
    background: conic-gradient(
        blue 0% var(--stop1), 
        red var(--stop1) var(--stop2), 
        rgb(75, 75, 240) var(--stop2) var(--stop3), 
        rgb(226, 43, 144) var(--stop3) 100%
    );
    
    .label {
        position: absolute;
        top: 50%; 
        left: 50%;
        font-weight: bold;
        //20/50px 45/150px 60/200px
        transform: translate(-50%, -50%) rotate(var(--a)) translateY(-60px) rotate(calc(var(--a) * -1));
    }
    .v1{color :blue; color: rgba(0, 0, 0, 0.3);}
    .v2{color :red; color: rgba(0, 0, 0, 0.3);}
    .v3{color :rgb(75, 75, 240); color: rgba(0, 0, 0, 0.3);}
    .v4{color :rgb(226, 43, 144); color: rgba(0, 0, 0, 0.3);}
}
@media (width <= 1150px) {
    
    .Graph-root {
        height: 150px; 
        width: 150px;
        .label {
            //20/50px 45/150px 60/200px
            transform: translate(-50%, -50%) rotate(var(--a)) translateY(-45px) rotate(calc(var(--a) * -1));
        }
    }
}
@media (width <= 800px) {
    
    .Graph-root {
        height: 100px; 
        width: 100px;
        .label {
            //20/50px 45/150px 60/200px
            transform: translate(-50%, -50%) rotate(var(--a)) translateY(-33px) rotate(calc(var(--a) * -1));
        }
    }
}@media (width <= 560px) {
    
    .Graph-root {
        height: 50px; 
        width: 50px;
        .label {
            //20/50px 45/150px 60/200px
            transform: translate(-50%, -50%) rotate(var(--a)) translateY(-20px) rotate(calc(var(--a) * -1));
        }
    }
}