@use "STYLE/variable" as var;

$width_history: 80%;
$width_game_winrate: 100% - $width_history;

.StatsMorpion-root {
    height: var.$root_height;
    display: flex;
    flex-direction: row;

    .history , .game-winrate {
        height: 100%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .history {
        width: $width_history;
        padding-right: 0;

        overflow-y: auto;
        scrollbar-width: thin;

    }
    
    .game-winrate {
        width: $width_game_winrate;

        .wl-graph, .wl-o-x, .wl-horizontal,
        .wl-diagonal, .wl-vertical {
            padding: 0.5rem;
        }
        
        // .wl-graph{

        // }

        // .wl-o-x{

        // }

        // .wl-horizontal{

        // }

        // .wl-diagonal{

        // }

        // .wl-vertical{

        // }
    }
}
