@use "STYLE/variable" as *;

$width_history: 80%;
$width_game_winrate: 100% - $width_history;

.StatsMorpion-root {
    height: $root_height;
    display: flex;
    flex-direction: row;

    .history-container , .game-winrate {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }
    
    .history-container {
        width: $width_history;
        // padding-right: 0;
        
        scrollbar-width: thin;
        display: flex;
        flex-direction: column;
        
        .history-card-container{
            height: calc(100% - 58px);
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            gap: 0.5rem;
        }
        
    }
    .aside{
        width: $width_game_winrate;
        height: 100%;
        padding: 0.5rem;
        .asidecss{
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background-color: rgba(255, 255, 255, 0.700);
            .search {
                display: flex;
                flex-direction: column;
                padding: 0.3rem;
                .searchmorp {
                    input[type="text"] {
                        width: 100%;
                    }
                }
            }
            .game-winrate {
                overflow: hidden auto;
                height: 100%;
                width: 100%;
                
                .wl-graph, .wl-o-x, .wl-horizontal,
                .wl-diagonal, .wl-vertical {
                    padding: 0.5rem;
                }
                
                .wl-graph{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .wl-graph2{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        // align-items: cener; 
                        div{
                            display: flex;
                            flex-direction: column;
                            
                        }
                    }
                    
                }
                
                .wl-o-x{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
                
                // .wl-horizontal{
                    
                // }
                
                // .wl-diagonal{
                    
                // }
                
                // .wl-vertical{
                    
                // }
            }
        }
    }
}
    