// @use "STYLE/variable" as var;
//    var.$border_value;

// @use "STYLE/_mixin" as mix;
//    @include mix.full;

.StatsMorpionHistoryCard-root{
    display: flex;
    width: 100%;
    .map{
        width: 20%;
    }
    .game-data{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem;

        .time,.stat{
            padding: 0.25rem 0.5rem;
        }
        hr {
            border: none;
            margin: 5px;
            margin-bottom: 5px;
            height: 5px;
            background: blue;
        }
    }
}
