# DB
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

# MySQL
MYSQL_ROOT_PASSWORD_FILE=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# phpMyAdmin
PMA_HOST=
PMA_PORT=

#for dev only (auto connection to PMA)
#PMA_USER=
#PMA_PASSWORD=

#NOREPLAY
NOREPLAY_USER=
NOREPLAY_PASS=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

#WEATHER
API_KEY_WEATHER=

#GOOGLEAUTH
VITE_GOOGLE_ID_CLIENT=

#STATUS
STATUS=

#SESSION
SEC_SESSION=