services:
  nginx:
    image: nginx:1.29.4
    container_name: nginx
    ports:
    - "9000:443"
    volumes:
    - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
    - home
    depends_on:
    - web
    secrets:
    - source: nginx_cert
      target: nginx.crt
    - source: nginx_key
      target: nginx.key
    restart: always
  
  mysql:
    image: mysql:8.4
    container_name: mysql
    restart: always
    volumes:
    # - ./vol/db/data:/var/lib/mysql
    - ./db/conf.cnf:/etc/mysql/conf.d/my.cnf
    - ./db/conf.sh:/docker-entrypoint-initdb.d/conf.sh
    networks:
    - home
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/data_pswd
      MYSQL_DATABASE: TRANS
      MYSQL_USER: bobi
      MYSQL_PASSWORD: 123
    secrets:
    - data_pswd
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 15

  myadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: myadmin
    depends_on:
    - mysql
    ports:
    - "8081:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: bobi
      PMA_PASSWORD: 123
    # volumes:
    # - ./myadmin/conff.sh:/docker-entrypoint.d/10-config.sh
    networks:
    - home
    restart: always

  web:
    build: ./web/
    container_name: web
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DB_USER: "bobi"
      DB_PASSWORD: 123
      DB_NAME: "TRANS"
      DB_HOST: "mysql"
      DB_PORT:  3306
    volumes:
      - ./web:/app:cached
      - /app/node_modules
    networks:
      - home
    secrets:
    - cle_pswd
    - cle_chat
    - source: nginx_cert
      target: nginx.crt
    - source: nginx_key
      target: nginx.key
    restart: always



secrets:
  nginx_cert:
    file: ./secrets/nginx.crt
  nginx_key:
    file: ./secrets/nginx.key
  data_pswd:
    file: ./secrets/data_pswd
  cle_chat:
    file: ./secrets/cle_chat
  cle_pswd:
    file: ./secrets/cle_pswd

networks:
  home:
    driver: bridge
