@use "STYLE/_mixin" as mix;

.ContactUs-root{
	@include mix.page;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

    gap: 1rem;
    padding: 1rem 2rem;
    overflow: hidden auto;

	h1 {
		font-size: 2rem;
	}

	.cardContainer{
		width: 100%;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		gap: 2rem;
		padding-bottom: 1rem;
	}
}
