.HomeFooter-root {
	padding: 0 2rem;
	//box-shadow: 11px 50px 50px 44px #00000052;
	background: rgb(212, 236, 253);
    display: flex;
	flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}