.ErrorRedir-root{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
.ErrorRedir-root a{
color: #007bff; text-decoration: none; } .ErrorRedir-root a:hover{ text-decoration: underline;
}