/*------------------------------- grid ----------------------------------*/

.Homewii {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 40px;
    grid-template-rows: 1fr 1fr 1fr 0.8fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1  { grid-area: 1 / 1 / 2 / 2; } /* HomeIcone */
.div2  { grid-area: 1 / 2 / 2 / 3; } /* HomeIcone */
.div3  { grid-area: 1 / 3 / 2 / 4; } /* HomeIcone */
.div4  { grid-area: 2 / 1 / 3 / 2; } /* HomeIcone */
.div5  { grid-area: 2 / 2 / 3 / 3; } /* HomeIcone */
.div6  { grid-area: 2 / 3 / 3 / 4; } /* HomeIcone */
.div7  { grid-area: 3 / 1 / 4 / 2; } /* HomeIcone */
.div8  { grid-area: 3 / 2 / 4 / 3; } /* HomeIcone */
.div9  { grid-area: 3 / 3 / 4 / 4; } /* HomeIcone */
.div10 { grid-area: 1 / 4 / 4 / 5; } /* HomeMessage */
.div11 { grid-area: 4 / 1 / 5 / 6; } /* HomeFooter */
.div12 { grid-area: 2 / 5 / 3 / 6; } /* HomeArrow */


/*-----------------------------------------------------------------------*/

.iconecolor{
    border-radius: 20px;
    margin: 1rem;
    background: radial-gradient(circle,rgb(109, 204, 204), #ffffff);
    box-shadow: 0 6px 15px rgba(145, 0, 0, 0.651);
}


.iconecolor:hover{
    box-shadow: 0 6px 15px rgba(236, 234, 234, 0.651);
}


.iconedisplay{
    display: flex;
    justify-content: center;
    align-items: center;
}


