// @use "STYLE/variable" as *;
//    var.$border_value;

@use "STYLE/_mixin" as mix;
//    @include mix.full;

.Amis-root{
    @include mix.full;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    .one-friend{
        @include mix.fullw;
        text-align: center;
        padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        .div-btn{
            display: flex;
            flex-direction: row;
            gap: 0.4rem;
            button{
                @include mix.fullw;
                @include mix.icone;
            }
        }
    }
}
