.PrivateMessageConv-flex1{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  gap: 0.25rem;
}


.PrivateMessageConv-flex2{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden auto;
  scrollbar-width: thin;
  
}  

.PrivateMessageConv-message-me {text-align: right;}
.PrivateMessageConv-message-other {text-align: left;}
.PrivateMessageConv-message-other p, .PrivateMessageConv-message-me p {
  overflow-wrap: anywhere;
}
