.ContactIssue{
    margin-top: 1rem;
}

.ContactIssue:hover{
    box-shadow: 0 6px 15px rgba(99, 99, 99, 0.651);
}

.ContactIssue-form{
    padding: 2rem;
}


.ContactIssue-form, .ContactIssue-form div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ContactIssue-form label{
    font-size: 1.5rem;
}

.ContactIssue-form input, .ContactIssue-form select{
    height: 3rem;
}
