.translateY:hover{
    transform: translateY(-10px);
}



.ContactIcone-root{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.ContactIcone-div1 { grid-area: 1 / 1 / 5 / 2;}
.ContactIcone-div2 { grid-area: 1 / 2 / 2 / 3;}



@media (max-width:625px) { 

    .ContactIcone-root{
        display: flex;
        flex-direction: column;
    }
    .ContactIcone-div1{
       display: none;
    }
    .ContactIcone-div2{
        width: 100%; 
        height: 100%;
    }
}

.ContactIcone-card {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
    gap: 10px;
    padding: 1rem;

}

.ContactIcone-font{
    font-size: 1.4rem;

    @media (max-width:1500px) { 
        font-size: 1.2rem;
    }
}



