@use "STYLE/variable" as var;

$children_height: 100% - var.$navbar_height;

.Navigation-root {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    
    nav {
        height: var.$navbar_height;
    }

    .children-container {
        height: $children_height;
    }
}

