$menu_height: 85%;
$footer_height: 100% - $menu_height;

$padding: 1rem;


#Home-root {
	height: 100%;
	width: 100%;
	background: blue;
	padding: $padding;
    
	.Home-PopUp {
		position: absolute;
		top:0;
		left:0;
		display: flex;
		// include full
		height: 100%;
		width: 100%;
		// include center
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.menu {
		padding: $padding;
		height: $menu_height;
		display: flex;
		flex-direction: row;
		background: red;

		.card-container {
			width: 70%;
			padding-right: $padding;
			display: grid;
  			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: $padding;
			grid-row-gap: $padding;
		}

		button{
			background-color: red;
		}
		.chat {
			width: 30%;
			padding: $padding;
			background: lightblue;
		}
	}

	.footer {
		padding: $padding;
		height: $footer_height;
		background: white;
    }
}
