$menu_height: 85%;
$footer_height: 100% - $menu_height;

$padding: 1em;

.main_menu {
	height: 100%;
	width: 100%;
	background: blue;
	padding: $padding;

	.menu {
		padding: $padding;
		height: $menu_height;
		display: flex;
		flex-direction: row;
		background: red;

		.card_continer {
			width: 70%;
			background: lightcoral;
			padding-right: $padding;
			display: grid;
  			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: $padding;
			grid-row-gap: $padding;

			.card {
				display: flex;
				justify-content: center;
				align-items: center;
				background: lightgreen;
			}
		}

		.chat {
			width: 30%;
			padding: $padding;
			background: lightblue;
		}
	}

	.footer {
		padding: $padding;
		height: $footer_height;
		background: white;
	}
}
