#PopUp-root {

    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    padding: 1rem;

    #alert-container {
        .danger { color: red; }
        .success { color: green; }
    }

    .PopUp-in-root {
        display: flex;
        flex-direction: column;

        form{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            
            .button-container{
                gap: 0.5rem;
                display: flex;
                flex-direction: column;
            }
        }
    }
}
