.ContactUs-root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.ContactUs-root h1, .ContactUs-root h2 {
    text-align: center;
}

.ContactUs-root_bg{
    background: blueviolet;
    border-radius: 35px;
}
    