.ContactUs-bg{
    background: blueviolet;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.ContactUs-bg h1, .ContactUs-bg h2 {
    padding-top: 1rem;
    text-align: center;
}


.ContactUs-padding{ padding: 1.5rem; }

