@use "STYLE/_variable" as *;

.button {
	background-color: $active;
	padding: 1rem 1.5rem;
	border-radius: 50px;
	border: 4px $active-dark solid;
	color: white;
	transition: all 0.2s;

	&:hover{
		scale: 1.05;
		border-color: $active-light;
	}
	&:active{
		scale: 1.15;
	}
}