@use "STYLE/_variable" as *;

.button {
	background-color: $active;
	padding: 1rem 1.5rem;
	border-radius: 50px;
	border: 4px $active-dark solid;
	color: white;
	transition: all 0.2s;

	&:hover{
		scale: 1.05;
		border-color: $active-light;
	}
	&:active{
		scale: 1.15;
	}
	@media (width <= 1000px ), (height<= 550px) {
			padding: 0.5rem 1.0rem;
    }
    @media (width <= 500px), (height <= 400px) {
			padding: 0.25rem 0.5rem;
    }
}