@use "STYLE/_variable" as *;
@use "STYLE/_mixin" as mix;

.HomeCardWeather {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&:hover {
		background-color: unset;
	}
}