@use "STYLE/variable" as *;

@use "STYLE/_mixin" as mix;

.StatsPongHistoryCard-root{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(255, 255, 255, 0.900);
    padding: 1rem;
    border-radius: 30px;

    position: relative;

    .game-data{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem;

        .time, .stat{
			font-size: 1.5rem;
            padding: 0.25rem 0.5rem;
        }
    }
}
