.StatsMorpion-parent {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0px;
}

.StatsMorpion-div1 { grid-area: 1 / 1 / 2 / 2;}
.StatsMorpion-div2 { grid-area: 1 / 2 / 2 / 3;}

.StatsMorpion-div{
    padding: 0.75rem;
    margin: 0.5rem;
    border: 1.5px solid;
    border-radius: 0.5rem;
}

.border {
    margin: 0.25rem 0rem;
    border: 1px solid;
    border-radius: 0.5rem;
}

.StatsMorpion-gap{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
