// @use "STYLE/variable" as *;
//    var.$border_value;

@use "STYLE/_mixin" as mix;

.MorpionDisplay-root{

	@include mix.page;
    
    display: flex;
    .MorpionDisplay-last-game-played{
        height: 100%;
        width: 20%;
        padding: 0.5rem;
        padding-right: 0;
    }
    .MorpionDisplay-game{
        flex: 1;
        padding: 1rem;
    }
}
