@use "STYLE/_mixin" as mix;
@use "STYLE/_variable" as *;

.MorpionDisplay-root {
	@include mix.page;
	@include mix.full;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	padding: 1rem;

	> div {
		@include mix.full;
		display: flex;
		align-items: center;
		.Board-root {
			min-height: 150px;
		}
	}

	.MorpionDisplay-content {
		overflow: hidden;
		flex-direction: row-reverse;

		.Board-root {
			padding: 2%;
		}

		aside {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			height: 100%;
			width: 30%;
			max-width: 400px;

			h2 {
				text-align: center;
			}

			ul {
				overflow-y: auto;
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				padding: 0 1rem;
				height: 0;
				flex: 1;

				li button {
					width: 100%;
					overflow:hidden;
					transition: all 0.2s;

					white-space: nowrap;
					text-overflow: ellipsis;

					background-color: $grey-light;
					border-radius: 50px;
					//padding: 0.4rem 0.8rem;

					&:hover {
						scale: 1.05;
					}
				}
			}
		}

		@media (width <= $tablet)
		{
			flex-direction: column;
			gap: 0.5rem;
			aside {
				width: 100%;
				max-width: unset;
				overflow-y: hidden;

				ul {
					padding: 0 1.5rem;
				}
			}
		}
	}
}
