.LogRegister-flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogRegister-flex2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.LogRegister-flex3 {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espace entre les éléments */
    padding: 30px;
}

.LogRegister-div1 {
    border: solid 0.1rem;
    padding: 1rem;
    

    font-size: 2rem;

    @media(max-width: 768px){
        font-size: 1.5rem;

        @media(max-width: 375px){
            font-size: 1rem;
        }
    }
}

.alert-n-danger{ color: red; }
.alert-n-success{ color: green; }

#regist input, 
#regist button, 
#regist select, 
#regist textarea, 
#regist a.iconecolor,

#login input, 
#login button, 
#login select, 
#login textarea, 
#login a.iconecolor
{
    margin: 0rem 0.5rem;
    font-size: inherit;
    font-family: inherit;
}

