// @use "STYLE/variable" as *;
//    var.$border_value;

@use "STYLE/_mixin" as mix;
//    @include mix.full;

.Amis-root{
    @include mix.full;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
    .one-friend{
        @include mix.fullw;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        padding: 0.7rem;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        
        .div-btn{
            display: flex;
            flex-direction: row;
            gap: 0.4rem;
            button{
                @include mix.fullw;
                @include mix.icone;
            }
        }
    }
}
