
.message{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.display-message {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  scrollbar-width: thin;
  width: 100%;
}


.display-message p {
  margin: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 3px;

  white-space: pre-wrap;
  overflow-wrap: break-word;
  
  text-align: center;
  background-color: rgb(89, 189, 189);
}

.display-message p:hover {
  background-color: rgb(79, 179, 179);
}



form {
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  margin-top: 0.5rem;
  gap: 5px;
  height: 50px;

  display: flex;
  flex-direction: column;
}