
.message{
  display: flex;
  flex-direction: column;
}

.display-message{
  flex: 1;
  overflow: hidden auto;
}

.display-message p {
  white-space: pre-wrap;
  overflow-wrap: break-word;

  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  background-color: rgb(89, 189, 189);
}
.display-message p:hover {
  background-color: rgb(79, 179, 179);
}



form {
  height: 50px;
  padding: 0.1em;
  margin: 0.15em;
  display: flex;
  flex-direction: column;
  gap: 2px;            /* Espace entre l'input et le bouton */
}