.Profile-bg {
    background: blueviolet;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.Profile-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 5px;

    .Profile-edit {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: #007bff 1px solid;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;

        &:hover {
            color: #007bff;
        }
    }

    .Profile-all-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        
        form {
            // margin: 0;
            padding: 2rem;
            gap: 1rem;
            height: fit-content;
            width: 375px;
            display: flex;
            flex-direction: column;

            @media (max-width: 400px) {
                width: 100%;
            }

            input , button {
                border-radius: 0.5rem;
            }
            
            input {
                width: 100%;
                padding: 0.5rem;
            }
            
            button {
                margin: 0rem 2rem;
                padding: 0.5rem 1rem;
                background-color: #007bff;
                color: white;
                border: none;
                cursor: pointer;
                &:hover {
                    background-color: #0056b3;
                }
            }
        }

        .Profile-form-info {

            .Profile-cant-change {
                position: relative;
                display: inline-block;

                span {
                    position: absolute;
                    left: 60%;
                    background: black;
                    color: white;
                    font-size:0.8rem;
                    padding: 4px 8px;
                    border-radius: 4px;
                    white-space: nowrap;
                    
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    pointer-events: none;
                }
                &:hover span {
                    opacity: 1;
                }
            }
            
        }

        .Profile-change-password {
            height: fit-content;
            gap: 1rem;
            font-size: 1.5rem;
        }

        .Profile-form-password {
            .Profile-password {
                position: relative;
                display: flex;
                align-items: center;

                input {
                    width: 100%;
                    padding-right: 40px;
                }

                .Profile-eye-icon {
                    position: absolute;
                    right: 10px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}