.form-container1 {

    .Profile-form-info {

        .Profile-cant-change {
            position: relative;
            display: inline-block;

            span {
                position: absolute;
                left: 60%;
                background: black;
                color: white;
                font-size:0.8rem;
                padding: 4px 8px;
                border-radius: 4px;
                white-space: nowrap;
                
                opacity: 0;
                transition: opacity 0.3s ease;
                pointer-events: none;
            }
            &:hover span {
                opacity: 1;
            }
        }
        
    }

    .Profile-change-password {
        height: fit-content;
        gap: 1rem;
        font-size: 1.5rem;
    }

    .Profile-form-password {
        .Profile-password {
            position: relative;
            display: flex;
            align-items: center;

            input {
                width: 100%;
                padding-right: 40px;
            }

            .Profile-eye-icon {
                position: absolute;
                right: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
            }
        }
    }
}







#Profile-root {
    background-color: blueviolet;
    border-radius: 0.5rem;
    padding: 1rem;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .edit {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        padding: 0.75rem;
        border-radius: 0.5rem;
        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
            color: #007bff;
        }
    }
    .form-container{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        form {
            width: 375px;
            display: flex;
            flex-direction: column;
            
            input , button {
                border-radius: 0.5rem;
            }
            
            input {
                width: 100%;
                padding: 0.5rem;
            }
            
            button {
                padding: 0.5rem 1rem;
                border: none;
                background-color: #007bff;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
        
        .form-info{

        }
        
        .change-password{

            .form-password{
    
            }
        }

    }
}