
@use "STYLE/_variable" as *;

@mixin full {
    height: $root_height;
    width: $root_width;
}
@mixin fullh { height: $root_height; }
@mixin fullw { width: $root_width; }

@mixin colortext($varcolor : rgb(10, 201, 240)){
    p, a, input, h1, h2, h3, h4, h5, h6, button, span , li {
        color: $varcolor;
    }
}

@mixin page($varcolor : rgb(0, 81, 97)){
    @include full;
    background-image: linear-gradient(#76ff36, #79ff74, #78c9ff);   
    @include colortext($varcolor);
}


@mixin icone{
    
    transition: all 0.2s;
    padding: 0.6rem;

    background: radial-gradient(#ffffff 40%, $main);
	box-shadow: 0px 0px 7px 5px $main-dark;

    border:4px solid $second;
    border-radius:25px;
    cursor: pointer;
    &:hover {
        outline: none;

        border-radius: 30px;
        border-color: $active;

        box-shadow: 0px 0px 7px 5px $active-light;
        scale: 1.05;
    }
    &:active{
        scale: 1.10;
    }
}

@mixin cardhistory($how_win: "draw"){
    // pointer-events: none;
    border-radius: 30px;
    opacity: 0.8;
    z-index: 3;
    @if $how_win == "draw" {
        background: blue;
    } 
    @else if $how_win == "abort" {
        background: rgb(231, 31, 115);
    } 
    @else if $how_win == "win"{
        background: green;
    }
    @else if $how_win == "lose" {
        background: red;
    }
}

@mixin scanlines($direction: "horizontal") {

    border-radius: 30px;
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    pointer-events: none;
    opacity: 0.5;
    z-index: 3;

    @if $direction == "horizontal" {
        background: linear-gradient(rgba(104, 97, 97, 0) 50%, rgba(0, 0, 0, 0.05) 50%);
        background-size: 100% 4px;
    } 
    @else if $direction == "vertical" {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 50%);
        background-size: 4px 100%;
    } 
    @else if $direction == "diagonal-right-left" {
        background: repeating-linear-gradient(45deg, transparent, transparent 1px, rgba(0, 0, 0, 0.05) 1px, rgba(0, 0, 0, 0.05) 4px);
    }
    @else if $direction == "diagonal-left-right" {
        background: repeating-linear-gradient(135deg, transparent, transparent 1px, rgba(0, 0, 0, 0.05) 1px, rgba(0, 0, 0, 0.05) 4px);
    }
}