//color
$main:#d7ecff;
$main-dark: #b4cae2;

$second:#4f5e72;
$second-dark: #334459;

$active: #3bbee6;
$active-dark: #00a0d0;
$active-light: #92e3f5;

$accent:#b1d5f2;

$grey-light:#dbdbdb;
$grey:#c9c9c9;
$grey-dark:#a3a3a3;

$red: #ce303d;
$green: #16a316;

$border_radius_value: 1rem;

$shadow: 0 6px 15px rgba(0, 0, 0, 0.700);

$phone: 600px;
$tablet: 1100px;
