//color
$main:#d7ecff;
$main-dark: #b4cae2;

$second:#4f5e72;
$second-dark: #334459;

$active: #3bbee6;
$active-dark: #00a0d0;
$active-light: #92e3f5;

$accent:#b1d5f2;

$grey:#d6d6d6;
$grey-dark:#a3a3a3;

$border_radius_value: 1rem;

$shadow: 0 6px 15px rgba(0, 0, 0, 0.700);

$root_width: 100%;
$root_height: 100%;

$phone: 600px;
$tablet: 1100px;
