@use "STYLE/variable" as *;

.ContactIssue-root{
    background-color:cornflowerblue;
    border-radius: $border_radius_value;
    padding: 1rem;

    &:hover{
        box-shadow: $shadow;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ContactIssue-form, .ContactIssue-form div {

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .ContactIssue-form{
        width: 75%;
        padding: 2rem;

        & label{
            font-size: 1.5rem;
        }
        
        & input, & select, & textarea{
            // border: none;
            border-radius: $border_radius_value;
            font-size: 1.5rem;
            height: 3rem;
        }

    }

}
