@use "STYLE/_variable" as *;

@use "STYLE/_mixin" as mix;
.Morpion-root{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    button{
        @include mix.icone;
        box-shadow: 0px 0px 7px 5px #8da8c6;
    }
    .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-direction: column;
        gap: 5px;
        .status {
          margin-bottom: 10px;
          font-weight: bold;
        }
    }

    // .Board-root{
        
    //     .Board-row {
    //         display: flex;            
    //         .square {
    //             width: 60px;
    //             height: 60px;
    //             font-size: 24px;
    //             cursor: pointer;
    //         }
    //     }
    // }
    
    // .Board-root{
    //     height: 60%;
    //     width: 60%;

    //     .Board-row {
    //         display: flex;
    //         height: 33%;
    //         .square {
    //             width: 33%;
    //             font-size: 24px;
    //             cursor: pointer;
    //         }
    //     }
    // }

    .Board-root{
        height: 60%;
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;

        .square {
            font-size: 24px;
        }
    }
        
}
