@use "STYLE/_variable" as *;
@use "STYLE/_mixin" as mix;

.Morpion-root {
	flex-direction: column;
	padding: 0 2rem;
	gap: 1.5rem;
	max-width: 1300px;
	.button-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		div {
			width: 50%;
			display: flex;
			flex-direction: column;
		}
		div:first-child {
			align-items: end;
		}
		div:last-child {
			align-items: start;
		}
	}
}
