body {
  background-color: rgb(164, 164, 164);
}
#root {
  height: 100vh;
  width: 100vw;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
    display: inline-block;
    color: inherit;
    border: none;
    background: none;
    cursor: default;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    vertical-align: middle;
}


button{ border: none; }


.flex{ display: flex; }
.full{ height: 100%; width: 100%; }

.center{
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}


.iconecolor{
    padding: 0.1rem;
    border-radius: 0.5rem;
    background: radial-gradient(circle,rgb(109, 204, 204), #ffffff);
    box-shadow: 0 6px 15px rgba(99, 99, 99, 0.651);
}

.iconecolor:hover{
    transition: all 0.3s ease;
    box-shadow: 0 10px 15px rgba(236, 234, 234, 0.651);
}

.negativ{
  filter: invert(1);
}
