@use "STYLE/variable" as *;
@use "STYLE/_mixin" as mix;

.ContactCard-root {
	@include mix.icone();
    border: 4px $second solid;
    border-radius: $border_radius_value;
    background-color: aqua;

    padding: 1rem;
    flex: 1 1 300px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02);
    }

    .ContactCard-image {
        border-radius: $border_radius_value;
        object-fit: cover;
        width: 100%;
        height: 300px;
    }

    .ContactCard-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
        padding: 1rem 0;

        h2 {
            text-align: center;
            padding: 0.5rem 0;
            @include mix.colortext(rgb(14, 69, 78));
        }

        a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            padding: 0.5rem;

            svg {
                flex-shrink: 0;
                min-width: 20px;
            }
            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}