.Stats-root{
    /*bg*/
    border-radius: 0.5rem;
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    padding: 1rem;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;/*en haut*/
    text-align: center;
    gap: 0.5rem;

    .Stats-btn{
        background-color: rgba(0, 0, 0, 0.150);
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        
        &:hover{
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .Stats-container{
        flex: 1;
    }

}
