.Stats-bg{
    background: blueviolet;
    border-radius: 0.5rem;
    padding: 1.5rem;
    
}

.Stats-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    gap: 2rem;
}

.Stats-btn{
    background-color: rgba(0, 0, 0, 0.150);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.Stats-btn:hover{
    background-color: rgba(0, 0, 0, 0.3);
}