@use "STYLE/_variable" as *;
@use "STYLE/_mixin" as mix;

.HomeCard-root {
    display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;

    @include mix.default_card;

	p {
		text-align: center;
		overflow-wrap: anywhere;
	}
}
