.grid_row_columns{
    display: grid;
    grid-template-columns: repeat(4, 1fr) 200px;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 1em;
    height: 100%;
}

.grid_display{
  grid-column: 2;
  grid-row: 0 / 3;
}