.grid_row_columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 350px;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 1em;
    height: 100%;
}

.grid_display{
  grid-column: 1 / 3;
  grid-row: 1;
}