// @use "STYLE/variable" as *;
//    $border_value;

@use "STYLE/_mixin" as mix;
//    @include mix.full;

.PrivateMessageConv-root {
    @include mix.full;
    padding: 0.5rem;
    gap: 0.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    .message{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
      overflow: hidden auto;
      scrollbar-width: thin;
      
      .other p, .me p {overflow-wrap: anywhere;}
      .me {text-align: right;}
      .other {text-align: left;}
    }  
}


